@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 250, 250, 249;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 245, 244;
    --background-rgb: 10, 10, 10;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}
